/gerber/gerber.zip
/gerber/UI-Micro-SD-B.Cu.gbl
/gerber/UI-Micro-SD-B.Cu.gbr
/gerber/UI-Micro-SD-B.Mask.gbr
/gerber/UI-Micro-SD-B.Mask.gbs
/gerber/UI-Micro-SD-B.Paste.gbp
/gerber/UI-Micro-SD-B.Paste.gbr
/gerber/UI-Micro-SD-B.SilkS.gbo
/gerber/UI-Micro-SD-B.SilkS.gbr
/gerber/UI-Micro-SD-Edge.Cuts.gbr
/gerber/UI-Micro-SD-Edge.Cuts.gm1
/gerber/UI-Micro-SD-F.Cu.gbr
/gerber/UI-Micro-SD-F.Cu.gtl
/gerber/UI-Micro-SD-F.Mask.gbr
/gerber/UI-Micro-SD-F.Mask.gts
/gerber/UI-Micro-SD-F.Paste.gbr
/gerber/UI-Micro-SD-F.Paste.gtp
/gerber/UI-Micro-SD-F.SilkS.gbr
/gerber/UI-Micro-SD-F.SilkS.gto
/gerber/UI-Micro-SD-NPTH.drl
/gerber/UI-Micro-SD-PTH.drl
/panel/combined.drl
/panel/combined.gbl
/panel/combined.gbo
/panel/combined.gbp
/panel/combined.gbs
/panel/combined.GKO
/panel/combined.gm1
/panel/combined.gtl
/panel/combined.gto
/panel/combined.gtp
/panel/combined.gts
/panel/combined.txt
/panel/ui-micro-sd-panel.gerberset
/panel/ui-micro-sd-panel.zip
/panel/ui-micro-sd-panel_Combined_Bottom.png
/panel/ui-micro-sd-panel_Combined_Top.png
/schematic/UI-Micro-SD.bak
/schematic/UI-Micro-SD.kicad_pcb-bak
/schematic/UI-Micro-SD-cache.lib
